.e12_49 { 
	overflow:hidden;
}
.e12_49 { 
	background-color:rgba(229.00000154972076, 233.00000131130219, 242.00000077486038, 1);
	width:1440px;
	height:1630px;
	position:absolute;
}
.e11_223 { 
	background-color:rgba(236.07421875, 187.68688559532166, 16.13176267594099, 1);
	width:1440px;
	height:216px;
	position:absolute;
	left:0px;
	top:-80px;
}
.ei11_223_1971_3311 { 
	background-color:rgba(230.7617238163948, 188.32857996225357, 37.88340479135513, 1);
	width:1440px;
	height:312px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei11_223_1971_3312 { 
	width:1024px;
	height:120px;
	position:absolute;
	left:80px;
	top:96px;
}
.ei11_223_1971_3313 { 
	color:rgba(255, 255, 255, 1);
	width:1024px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:90px;
	letter-spacing:-2.5;
	line-height:px;
}
.ei11_223_1971_3314 { 
	color:rgba(209.00000274181366, 213.00000250339508, 219.0000021457672, 1);
	width:1024px;
	height:28px;
	position:absolute;
	left:0px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e11_234 { 
	width:1024px;
	height:120px;
	position:absolute;
	left:35px;
	top:28px;
}
.e11_235 { 
	color:rgba(255, 255, 255, 1);
	width:1024px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:90px;
	letter-spacing:-2.5;
	line-height:px;
}
.e11_236 { 
	color:rgba(209.00000274181366, 213.00000250339508, 219.0000021457672, 1);
	width:1024px;
	height:28px;
	position:absolute;
	left:0px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e11_423 { 
	width:502px;
	height:664px;
	position:absolute;
	left:108px;
	top:242px;
}
.ei11_423_603_211 { 
	width:500px;
	height:600px;
	position:absolute;
	left:1px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/project_cover1.png);
    background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
}
.ei11_423_603_212 { 
	width:500px;
	height:80px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei11_423_603_213 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
.ei11_423_603_214 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:32px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e11_428 { 
	width:502px;
	height:664px;
	position:absolute;
	left:835px;
	top:242px;
}
.ei11_428_603_211 { 
	width:500px;
	height:600px;
	position:absolute;
	left:1px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/project_cover2.png);
    background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
}
.ei11_428_603_212 { 
	width:500px;
	height:80px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei11_428_603_213 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
.ei11_428_603_214 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:32px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e11_433 { 
	width:500px;
	height:664px;
	position:absolute;
	left:108px;
	top:935px;
}
.ei11_433_603_211 { 
	width:500px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/project_cover3.png);
    background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
}
.ei11_433_603_212 { 
	width:500px;
	height:80px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei11_433_603_213 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
.ei11_433_603_214 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:32px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e11_434 { 
	width:500px;
	height:664px;
	position:absolute;
	left:831px;
	top:935px;
}
.ei11_434_603_211 { 
	width:500px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/project_cover.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei11_434_603_212 { 
	width:500px;
	height:80px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei11_434_603_213 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
.ei11_434_603_214 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:500px;
	height:32px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.box {
    top: 100px;
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    background-color: wheat;
}
.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
  
.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
  
.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
  
.box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
  
.box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}
.botonRegresar {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}